@charset "utf-8";
@import "common.css";


#window2 {
	margin-top:30px;
	margin-bottom:30px;
	color:#828200;
	background-color:#ddffff;
	
}
#window2 h3{
	color:#80340b;
}

#window2 ul{
	list-style-position:inside;
	list-style-type:disk;
	text-indent:3em;
}

#window2 li{
	text-indent:6em;
}

#window2 .neko{
	text-indent:3em;
}

#window2 table{
	color:#828200;
	border-collapse:collapse;
	border-color:#828200;
}