#main_content{	
	float:left;
	display: inline;
	width: 75%;
	height: 100%;
	color:#26471c;
	line-height:24px;
}



#main_area1{
	margin-top:50px;
	
}
#main_area1 table{
	text-align:left;
	border-spacing:15px;
}

.big_komoku{
	color:#273201;
	font-weight:bold;
}
.small_komoku{
	color:#83220a;
	font-size:0.8em;
}




