#main_content_home{	
	float:left;
	display: inline;
	width: 75%;
	height: 100%;
	color:#26471c;
	line-height:24px;
}

#main_area1{
	background-color: #71fbaa; /* ”wŒiƒJƒ‰[‚ğ•ÏX */
	
}
 
#main_area1 span{
	color:#545941;
	font-size:0.8em;
}
#main_area1 p{
	color:#ff0000;
	font-size:1em;
}
#main_area2{
	margin-top:50px;
	height:150px;
}


#banner {
	margin : 0px;
	padding : 0px;
	width:420px;
}
#banner img{	
	width:200px;
	height:75px;
	float:left;
	display: inline;
	
}




#main_area3{
	margin-top:50px;
}



#item_info{
	clear:left;	
}

#item_info img{
	float:left;
	display: inline;
	width:150px;
	height:150px;
}
